<app-user-list></app-user-list>
<form class="form">
  <h3>Add a Link</h3>

  <div layout="row" >
    <div flex>
      <mat-form-field class="field">
        <mat-icon matSuffix layout="row" layout-margin>mode_edit</mat-icon>
        <mat-label flex>Title:</mat-label>
        <input matInput placeholder="Name of the article" #newtitle/>
      </mat-form-field>
    </div>


  <div flex>
    <mat-form-field class="field">
      <mat-icon matSuffix>link</mat-icon>
      <mat-label>Link:</mat-label>
      <input matInput placeholder="Shared link" #newlink/>
    </mat-form-field>
  </div>
</div>
</form>

<button (click)="addArticle(newtitle, newlink)" > Submit link </button>

<app-article></app-article>
